	<%- include header %> 
	

	<div>
		
		
		<center><h1 style = "background-color: rgb(0, 51, 102); color: white;"> Mission </h1></center>

		<br>  

		<center><p id = "aboutUs" style = "width: 700"> The 2016 presidential election: certainly one of the more bitter campaigns in recent memory. Now the political atmosphere, already tense from years of steady polarization, seems just about ready to explode. We are entering a period where conversation with the "other side" is becoming harder and harder, as each political pole pulls its people closer and closer. In the face of such division and animosity, we hope to encourage constructive discussion in politics, to serve as a way for people to gain a more rounded political view. With NewView, we aim to bring back the sense of understanding—not necessarily complete agreement—that helped build America into the country it is today. </p></center>

		<br> 

		<center><img src="/images/us.jpg" width="50%" height="auto"></center>

		<br><br>  

		<center><p style = "width: 50%; font-size: 14px;"><i> "Let us not seek the Republican answer or the Democratic answer, but the right answer. Let us not seek to fix the blame for the past. Let us accept our own responsibility for the future." - John F. Kennedy  </i></p></center>
		
		<br> <br>

		<div style = "background-color: rgb(0, 51, 102);">
		<center><h1 style = "color: white;"> Bios </h1></center>
		</div>

		<div layout="row" layout-align = "center center" style= "background-color: rgb(200,200,200)">

		<div>
		<br><br>
	    <img src="/images/neil.jpg" style="width: 280; margin-right: 1%; margin-bottom: 0.5em;">
	    <p style= "width: 280; margin-right: 4%; margin-bottom: 0.5em;" id = "bio"> <strong> Neil Slighton </strong> is a freshman at Princeton from Hong Kong. He only eats salads and he only wears shorts in the winter. He happens to have the same last name as Russell. He performed better on the ORF midterm than Michael, but worse on the math midterm. </p>
	    <br><br>
	    </div>

	    <div>
	    <p> &nbsp &nbsp &nbsp &nbsp </p>
	    </div>

	    <div>
	    <br><br>
	    <img src="/images/russell.jpg" style="width: 280; margin-right: 1%; margin-bottom: 0.5em;">
	    <p style= "width: 280; margin-right: 4%; margin-bottom: 0.5em;" id = "bio">  <strong> Russell Slighton </strong> is a freshman at Princeton from Hong Kong. He plans to major in philosophy, and he likes taekwondo. He drinks only sugar-free Red Bull and melatonin. He happens to have the same last name as Neil. He also thinks that using Angular Materials is a piece o' cake. </p>
	    <br><br>
	    </div>

	    <div>
	    <p> &nbsp &nbsp &nbsp &nbsp </p>
	    </div>

	    <div>
	    <br><br>
	    <img src="/images/michael.jpg" style="width: 280; margin-right: 1%; margin-bottom: 0.5em;">
	    <p style= "width: 280; margin-right: 4%; margin-bottom: 0.5em;" id = "bio"> <strong> Michael Li </strong> is a freshman at Princeton from Paoli, PA. He is a firm believer that "ice cream is for losers," and is an avid wearer of blue (and sometimes yellow) polos. In times of distress, he enjoys staring at the ceiling. He is still logged into his brother Richard's Instagram on his phone. </p>
	    <br><br>
	    </div>

	    <div>
	    <p> &nbsp &nbsp &nbsp &nbsp </p>
	    </div>

	    <div>
	    <br><br>
	    <img src="/images/becky.jpg" style="width: 280; margin-right: 1%; margin-bottom: 0.5em;">
	    <p style= "width: 280; margin-right: 4%; margin-bottom: 0.5em;" id = "bio"> <strong> Rebecca Barber </strong> is a freshman at Princeton from Millburn, NJ. She is exactly 5 feet tall, and loves waking up early Friday morning to ice-skate. She has a primal lust for Howard's Omelets. You can usually find her destroying ORF psets in Firestone on Thursdays with her presitigious study group. </p>
	    <br><br>
	    </div>

	    </div>


	</div>


	<%- include footer %>