	<%- include header %> 

		<div ng-controller = "acceptReject">
	    <br>
		<center><img src="/images/neil.jpg" style="width: 280; margin-right: 1%; margin-bottom: 0.5em;"></center>
		<center><h4> You have been matched with </h4></center>
		<center><h1> Neil Slighton </h1></center>
		<center><p> Neil is a cool person. </p></center>
		<center><md-button class="md-raised md-primary" style= "height: 30px; width: 150px; background-color: black; color: white;"" ng-click="gotofacebook()">More</md-button></center>

	


	

		</div>

		<br><br><br>
		
		<div layout="row" layout-align = "center center">

			<div ng-controller = "acceptReject">

			<center><md-button class="md-raised md-primary" style= "height: 100px; width: 200px; background-color: green; font-size: 28px;" ng-click="accept()">Accept</md-button></center>

			</div>

			<p> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </p>

	    	<div ng-controller = "acceptReject">

			<center><md-button class="md-raised md-primary" style= "height: 100px; width: 200px; background-color: red; font-size: 28px;" ng-click="reject()">Reject</md-button></center>

			</div>




	</div>

	<br><br>


	<%- include footer %>