<div>
	<div class="footer" layout="row" layout-align = "end end">
			<div layout-align="center center" class="fb-login-button" data-max-rows="1" data-show-faces="false" data-auto-logout-link="true" scope="public_profile" onlogin="onLogin()"></div>
			<p>&nbsp &nbsp</p>
		© 2016 ALL RIGHTS RESERVED &nbsp &nbsp </p>
		<a href=/about> About </a>
	</div>
</div>

</div> <!-- opened in header -->
</body>
</html>