<html ng-app="newView">

<head>
  <!--angular-->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

  <!--controllers-->
  <script src="/controllers/mainController.js"></script>
  <script src="/controllers/firstPageController.js"></script>
  <script src="/controllers/messagingController.js"></script>
  <script src="/controllers/matchMaker.js"></script>
  <script src="/controllers/checklist.js"></script>
  <script src="/controllers/acceptReject.js"></script>
  <script src="/controllers/SwitchDemoCtrl.js"></script>
  <script src="/controllers/SwitchDemoCtrl.js"></script>





  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
  </script>



  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/utilities.css">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">


</head>

<body ng-app="newView" background="/image/hackpicture.jpg">
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '634213256703658',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
  <div layout="column" layout-align="center" ng-controller="mainController">
    <!-- closed in footer -->