<%- include header %> 
	<div ng-controller = "firstPageController" style = "background-image: url(/images/hackpicture.jpg)" background-repeat: repeat;>

	
	<p> &nbsp </p>
	<p> &nbsp </p>


    <center><img src="/images/logo.png" width="45%" height="auto"></center>
	<p id = "aboutUs"> Connect to people with different political views. Make our community great again. </p>
	<p> &nbsp </P>
	<P> &nbsp </P>
	<center><div layout-align="center center" class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="true" scope="public_profile" onlogin="onLogin()"></div><center>
	<br><br><br><br><br><br><br><br>

	<p> &nbsp </p>
	<p> &nbsp </p>

	</div>


<%- include footer %>