<%- include header %>

  <div ng-controller="matchMaker" style="background-image: url(/images/hackpicture.jpg)">
  <body background="/images/hackpicture.jpg">
    <div layout="row" style="width: 100%; height: 100%;">
      <div layout="column" layout-align="top left">
        <md-button class="md-icon-button md-primary" aria-label="Settings" ng-click="toggleLeft()">
          <md-icon md-svg-icon="/images/menu.svg"></md-icon>
          <ng-hide="isOpenLeft()">
        </md-button>
      </div>
      <div layout="column" style="width:100%;" layout-align="center center">
      <div layout="column" layout-align="center center">
        <md-button class="md-raised md-primary matchme" ng-click="match()">Match Me!</md-button>
        </div>
        <div layout="column" style="witdth:50%" layout-align="center center" ng-controller="SwitchDemoCtrl">
            <p style="margin-bottom: 3px;">I  affiliate with the...</p>
          <md-switch ng-model="data.cb1" aria-label="Party Affiliation Switch" ng-click="changed()" style="margin-top: 0px;">
            {{data.message}}
          </md-switch>
          <div>
        </div>
      </div>
        </div>
      </center>
      </div>


      <section layout="row" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left">
          <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Matching Categories</h1>
          </md-toolbar>
          <md-content ng-controller="LeftCtrl" layout-padding>
            <form>
              <div ng-controller="checklist" class="md-padding demo">
                <div layout="row" layout-wrap>
                  <div flex="100" layout="column">
                    <div>
                      <fieldset class="demo-fieldset">
                        <legend class="demo-legend">Options</legend>
                        <div layout="row" layout-wrap flex>
                          <div flex-xs flex="50">
                            <md-checkbox aria-label="Select All" ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()">
                              <span ng-if="isChecked()">Un-</span>Select All
                            </md-checkbox>
                          </div>
                          <div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in items">
                            <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                              {{ item }}
                            </md-checkbox>
                          </div>
                        </div>
                        </legend>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <md-button ng-click="close()" class="md-primary">
              Close
            </md-button>
          </md-content>
        </md-sidenav>
      </section>
      
      </body>

    </div>
    <%- include footer %>