<%- include header %>
    <center><div ng-controller="messagingController" layout="column" layout-align="center none" style="height:80%; width:70%;">
            <md-list class="md-dense">
            <center><img src="/images/logo.png" width="28%" height="auto"></center>
                <center><md-subheader class="md-no-sticky">You are chatting to a real person. Remember to be kind!</md-subheader></center>

                <md-divider></md-divider>


               
                <md-content md-theme="altTheme" style="height:50%; background-color: rgb(240,240,240)">

                <section>
                
                <md-subheader class="md-primary">Messages</md-subheader>
                <md-list layout-padding>
                <md-list-item class="md-3-line" ng-repeat="message in messages">
                <div layout="row">
                <img ng-src={{message.person}} alt="Profile image" height="30px"/>
                    <div class="md-list-item-text">
                        <p> &nbsp {{message.text}} </p>
                    </div>
                </div>
                </md-list-item>
                </md-list>
                
                </section>
                </md-content>  

                <md-divider></md-divider>
                

            </md-list>
        <md-input-container md-no-float class="md-block">
        <input ng-model="message" placeholder="Enter your messages here.">
        </md-input-container>

    <div layout="row" layout-align = "space-between start">
        <md-button class="md-raised md-primary" ng-click="send()">Send</md-button>
        <md-button class="md-raised md-primary" style=" background-color:red;">Report</md-button>
    </div>
    </div>


    </div></center>

    <p> &nbsp </p>
    <p> &nbsp </p>
    <p> &nbsp </p>
    

    

    <%- include footer %>