body {
  padding: 50px;
  font: 14px "Helvetica", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#aboutUs {
   	text-align: center;
    color: rgb(0, 51, 102);
    font-size: 18px;
	}

#mainLogo {
	width: 10%;
	height: auto;
}

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

#missionStatement {
	text-align: center;
    color: black;
    font-size: 18px;
    border-style: solid;
	border-width: 1px;
	border-color: grey;

}

#bio {
	color: black;
	font-size: 18px;
}

#picOfUs {
	width: 200px;
	height: 200px;
}

.md-button.matchMe {
	width: 500px;
	height: 200px;
	font-size: 50px;
	background-color: rgba(158, 158, 158, 0.2);
}

.btn1 {
  color : rgb(49, 46, 46);
  background-color: rgba(255, 222, 121, 0.96);
  border-radius: 10px 0 0 10px;
  font-size: 16px;
}

.popup{
  height: 50px;
  overflow: auto;
}

#container { width:500px; border:3px solid red; margin:0 auto; position:relative; }

#sidebar { position:absolute; left:0; top:0; width:150px; height:100%; background-color:yellow; overflow-y:scroll; }


